{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Full name
      </h1>

      <form class="form" action="/path/of/next/page" method="post">

        <div class="govuk-form-group">
  <label class="govuk-label" for="full-name">
Provide your legal name, as it is written on your official documents  </label>
  <input class="govuk-input" id="full-name" name="fullName" type="text" spellcheck="false" autocomplete="name">
</div>

        {{ govukButton({
          text: "Continue",
          href: "/date-of-birth"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
