{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      Pulkit Sharma: Application for UX/Service Designer
    </h1>

    <!-- <p> Designed by: Pulkit Sharma </p> -->
    <p> <b>Task:</b> Create a prototype using the GDS design system that allows a user to track applications for various UK government services.    </p>
    <p> <b>For</b>: Charan Bahara (Stealth IT Consulting), recuriting for UX/Service Designer role at Capgemini Invent </p>
   
<!-- <h1 class="govuk-heading-m">See prototype</h1> -->
      {{ govukButton({
        text: "See prototype",
        href: "/start",
        isStartButton: true
      }) }}

  </div>
</div>

{% endblock %}
