{% extends "layouts/main.html" %}

{% block pageTitle %}
  Start page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}

 {% block beforeContent %}

  {{ govukBreadcrumbs({
    items: [
      {
        text: "Back to Index",
        href: "/index"
      }
    ]
  }) }}

{% endblock %}

{% block content %} 

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {{ serviceName }}
      </h1>

      <p>Use this serivce to track the following applications::</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Passport</li>
        <li>Provisional licence</li>
        <li>National insurance number</li>
      </ul>

      <h1 class="govuk-heading-m">What you'll need</h1>
      <p>The service will ask your for your full name and date of birth.</p>
      <p>You'll also need to provide your Unique Tracking Number for the application you wish to track.</p>
    

      <h1 class="govuk-heading-m">Track application</h1>
      {{ govukButton({
        text: "Start now",
        href: "/full-name",
        isStartButton: true
      }) }}

  
      <p>
        The online service is also <a href="#">available in Welsh (ar gael yn Gymraeg)</a>.
      </p>

    </div>

   
  </div>

{% endblock %}
